@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #141211; /* Dark background color */
}

.intro-screen, .main-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1ch;
  /* korostus */
  border: solid 1px yellow;
  /* korostus */
  
}

.intro-screen {
  /* background: #141211; */
  color: #eee;
  font-size: 2em;
  cursor: pointer;
    /* väriefekti mobiililla painettaessa */
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  transition: 0.35s ease;
}
  /* väriefekti mobiililla painettaessa */
.intro-screen:active {
  /* opacity: 0.5; */
  background-color: #2e2a27;
  transition: /*opacity 0.35s ease,*/ background-color 0.35s ease; /* Added background-color transition */    /* Smooth transition  */
    /* tekstivalintaesto */
  -webkit-user-select: none; /* Disable text selection on Safari/Chrome */
  -ms-user-select: none; /* Disable text selection on IE/Edge */
  user-select: none; /* Disable text selection on modern browsers */
}

.main-screen {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.top-bar {
  /* background: #38342f; */
  color: #eee;
  padding: 1rem;
  text-align: center;
  font-size: 1.5em;
}



.content {
  display: grid;
  grid-template-columns: 38% 62%; /* Golden ratio */
  height: 100%;
  /* align-items: center; */
  justify-content: center;
  /* border: solid red; */

  
.menu{
  /* background: #101018; */
  color: #eee;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 12ch;
  /* border: solid yellow; */
  /* margin: auto; */
}
  
.menu a {
  color: #eee;
  text-decoration: none;
  font-size: 1.25em;
  margin: 1rem 0;
  /* transform: translateX(-38%); */
}
  
  .visual {
    /* background: #645747; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
    font-family: 'Roboto Slab', Georgia, 'Times New Roman';
  }
}
@media (min-aspect-ratio: 2.5/1) {
    .content {
        aspect-ratio: 2 / 1;
        /* max-width: 100vh; */
    }
    .main-screen {
        justify-items: center;
    }
}

/* myöhemmin lisättävä mobiilipelinäkymä */
/* @media (pointer: coarse) and (orientation: portrait) {
    
    .intro-screen {
       
 }
    .main-screen {
    }
} */