/* Topbar styles */
.topbar {
  padding: 1em;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 100%;
  margin: 0;
  /* frosted glass effect */
  background-color: rgba(20, 19, 18, 0.5);
  backdrop-filter: blur(7px);
  -webkit-backdown-filter: blur(7px);
  z-index: 1000;
}

.topbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  z-index: 99999;
}



.menu-item {
  position: relative;
}

.menu-item a {
  color: #eee;
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #38342f;
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
  border-radius: 0.25em;
}

.dropdown-menu li a {
  padding: 0.5em 1em;
  display: block;
}

.menu-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* hamppari */
.hamburger {
  display: none; /* Hide by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.5em; /* Adjust as needed */
  height: 2.5em; /* Adjust as needed */
  margin-right: 1rem; /* Space from the right */
  margin-top: 0.5rem; /* Space from the top */
  z-index: 1000; /* Ensure it's above other elements */
}
.hamburger.hidden {
  display: none;
}


@media (max-width: 768px), (pointer: coarse) and (orientation: portrait) {
  .hamburger {
    display: flex; /* Show on smaller screens */
    justify-self: end;
  }
  .topbar {
    background: none;
    box-shadow: none;
    /* background-color: none; */
    backdrop-filter: none;
    -webkit-backdown-filter: none;
  }

  .topbar.active .topbar-menu {
    /* display: flex;  */
      /* Show the menu when the topbar is active LIUKU */
    flex-direction: column;
    /* position: absolute; */
    /* top: 100%; */
    /* left: 100%; */
    /* background-color: #38342f; */
    width: 100%;
    padding: 1em;
  }

  /* mobiilisivupalkki */
  .topbar-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 64vw;
    max-width: 26ch;
    /* background-color: #23201d; */
    flex-direction: column;
    padding-top: 2rem ;
    /* vertical-align: middle; */
    /* display: none; */
    z-index: 1000;
    /* liuku */
    transform: translateX(100%);
    transition: transform 0.3s;
  }
  .topbar-menu.open {
    display: flex; /* Show the menu when the hamburger is clicked */
    /* liuku */
    transform: translateX(0); /* Slide in from the right */
    /* transition: transform 0.3s ease-in-out; Smooth transition */
    background-color: rgba(20, 19, 18, 0.5);
    backdrop-filter: blur(7px);
    -webkit-backdown-filter: blur(7px);
    align-items: left;
    text-align: center;
  }
  .topbar-menu li{
  margin-left: 1rem;
  margin-right: auto;  
  }
}

