/* Topbar styles */
.topbar {
  background-color: #23201d;
  padding: 1em;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  border: solid white;
  position: fixed;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.topbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.menu-item {
  position: relative;
}

.menu-item a {
  color: #eee;
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #38342f;
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
  border-radius: 0.25em;
}

.dropdown-menu li a {
  padding: 0.5em 1em;
  display: block;
}

.menu-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* hamppari */
.hamburger {
  display: none; /* Hide by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.5em; /* Adjust as needed */
  height: 2.5em; /* Adjust as needed */
  margin-right: 1rem; /* Space from the right */
  margin-top: 0.5rem; /* Space from the top */
  z-index: 1000; /* Ensure it's above other elements */
}

@media (max-width: 768px), (pointer: coarse) and (orientation: portrait) {
  .hamburger {
    display: flex; /* Show on smaller screens */
  }

  .topbar-menu {
    display: none; /* Hide the menu by default on small screens */
  }

  .topbar.active .topbar-menu {
    display: flex; /* Show the menu when the topbar is active */
    flex-direction: column;
    position: absolute;
    /* top: 100%; */
    /* left: 100%; */
    /* background-color: #38342f; */
    width: 100%;
    padding: 1em;
  }

  .topbar-menu.open {
    display: flex; /* Show the menu when the hamburger is clicked */
  }
}