* {
    color: #ccc;
    font-family: sans-serif;
    margin: auto;
}
nav{
    margin-top: 0.5em;
    overflow: auto;
}
body{
    padding: 0 2.5%; 
    background-color: #1f1b16;
    display: flexbox;
    height: 100%;
    
    
}
h1{
    text-align: center;
}
img{
    border-radius: 2.5%;
    border: 4px solid #101018; 
    margin: 0em 1em; 
    float: right; 
    width: 33vw;
    vertical-align: middle;
}
div{
    padding-top: 2em;
    width: 100%;
    height: 100%;

    /* korostus! */
    border: 1px yellow solid;
    /* korostus! */
}
p{
    font-size: 1.25em;
    line-height: 1.25;
    vertical-align: baseline;
    
}
button{
    background-color: #101018;
    border: 2px solid;
    border-color:#101018; 
    border-radius: 0.25em; 
    cursor: pointer;
    float:left ;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 0.5em;
    padding: 0.25em 0 ;
    text-decoration: none;
    min-width: 4em;
    padding: 0.25em;
    transition-duration: 200ms;

}
button:hover{
    background-color: #2a271d;
    transition-duration: 400ms;
}
button:active{
    opacity: 1;
    background-color: #645747;

}
.naplink{
    text-decoration: none;
    opacity: .8;
}